VITE_SUPABASE_URL=https://ublwiblnsqnzcycwaaih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVibHdpYmxuc3FuemN5Y3dhYWloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NTk3ODMsImV4cCI6MjA5NzQzNTc4M30.MzT_1CAJMD-pdZHFRNAz7bBEdWYiOVEx5W_pUeOGqNY
